
$setTextColorForFooter: #eee;
$setBackGroundColorForFooter: #3f3c1a;

@mixin for-footer {
    margin-top: 100px;
    height: auto;
    background-color: $setBackGroundColorForFooter;  
    font-size: 20px;
    color: $setTextColorForFooter;  
}

footer {
    @include for-footer;
    a {
        text-decoration: none;
        color: $setTextColorForFooter;  
    }
}


