 
 body {
    background: url(../images/programing2.gif) no-repeat;
    background-size: 100%;
    color:white;
}

/* класс для поля вывода информации о шаблоне со ссылкой на гит
   класс  */
.newPat {
    margin-top: 100px;
    align-content: center;   
    font-size: 25px; 
}

/* Класс для NavBar */
.blue-light {
    background-color: #e3f2fd;
}
