
$backgroundDefaultStart:#698599;
$backgroundDefaultFinish:#8e8e08;



body {
    $backgroundDefaultFinish:#060601;
    min-height: 800px;
    background-image: linear-gradient($backgroundDefaultStart, $backgroundDefaultFinish);
}

